/* * {
  border: 1px solid red;
} */

.threePeople {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  margin-right: 15px;
}


.textInfo {
  /* margin-left: 50px; */
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  /* flex-direction: column; */

}

.group-one {
width:25vw;
}

.group-two {
width:25vw;
}
.group-three {
width:25vw;
}

.group-four {
width:25vw;
}

h2 {
  margin-left: 30px;
}

h4 {
  margin-left: 60px;
}

h2 {
  margin-left: 130px;
}


p {
  margin-left: 60px;
  color: lightgrey;
  margin-top: 10px;
  margin-bottom: 20px;
}

a {
  color: lightgrey;
  text-decoration: none;
}

a:hover{
  color: black;
}
