<p>Shop Best Sellers</p>

<div class = "threePeople">
  <img src="/assets/img/guy-left.png" alt="">
  <img src="/assets/img/gal-mid.png" alt="">
  <img src="/assets/img/kids-right.png" alt="">
</div>
<div class = "textInfo">
  <div class = "group-one">
    <h4>Icons</h4>
    <p>Air Froce 1</p>
    <p>Air Max 97</p>
    <p>Huarache</p>
    <p>VaporMax</p>
  </div>
  <div class="group-two">
    <h4>Shoes</h4>
    <p>Jordan Shoes</p>
    <p>Running Shoes</p>
    <p>Sneakers</p>
    <p>Soccor Cleats </p>
  </div>
<div class="group-three">
  <h4>Kids'</h4>
  <p>Kids' Shoes</p>
  <p>Kids' Jordan Shoes</p>
  <p>Kids' Backpacks</p>
  <p>Kids' Socks</p>
</div>
  <div class="group-four">
    <h4>Featured</h4>
    <p>Leggings</p>
    <p>Jordan Retro</p>
    <p>Windbreakers</p>
    <p>Tracksuits</p>
  </div>
</div>
