<h2>Shop Best Sellers</h2>

<div class = "threePeople">
  <img src="/assets/img/guy-left.png" alt="">
  <img src="/assets/img/gal-mid.png" alt="">
  <img src="/assets/img/kids-right.png" alt="">
</div>
<div class = "textInfo">
  <div class = "group-one">
    <h4>Icons</h4>
    <p><a href="https://nike.com">Air Froce 1</a></p>
    <p><a href="https://nike.com">Air Max 97</a></p>
    <p><a href="https://nike.com">Huarache</a></p>
    <p><a href="https://nike.com">VaporMax</a></p>
  </div>
  <div class="group-two">
    <h4>Shoes</h4>
    <p><a href="https://nike.com">Jordan Shoes</a></p>
    <p><a href="https://nike.com">Running Shoes</a></p>
    <p><a href="https://nike.com">Sneakers</a></p>
    <p><a href="https://nike.com">Soccor Cleats</a></p>
  </div>
<div class="group-three">
  <h4>Kids'</h4>
  <p><a href="https://nike.com">Kids' Shoes</a></p>
  <p><a href="https://nike.com">Kids' Jordan Shoes</a></p>
  <p><a href="https://nike.com">Kids' Backpacks</a></p>
  <p><a href="https://nike.com">Kids' Socks</a></p>
</div>
<div class="group-four">
    <h4>Featured</h4>
    <p><a href="https://nike.com">Leggings</a></p>
    <p><a href="https://nike.com">Jordan Retro</a></p>
    <p><a href="https://nike.com">Windbreakers</a></p>
    <p><a href="https://nike.com">Tracksuits</a></p>
  </div>
</div>
