/*
* {
  border: 1px red solid;
} */

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

.shoeHold {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2px;
  /* width: 500px; */

}

.shoeShow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


ul {
  border: dotted 1px black;
  margin-bottom: 10px;
}
li {
  text-align: center;
  color: black;
}
