/*
* {
  border: 1px red solid;
} */

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.shoeHold {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

h2 {
  margin-left: 30px;
}
