<div class = "topNav">
  <ul>
    <img src="/assets/img/nike.png" alt="">
    <img src="/assets/img/jump.png" alt="">
    <img src="/assets/img/hurley.png" alt="">
    <img src="/assets/img/converse.png" alt="">
    <li> <a href="#">Join/Login To NikePlus Account</a> </li>
    <li> <a href="#">Help</a> </li>
    <img src="/assets/img/cart.png" alt="">
    <img src="/assets/img/flag.jpeg" alt="">
  </ul>
</div>

<div class = "midNav">
  <ul>
    <img src="/assets/img/swoosh.png" alt="">
    <li> <a href="#">Men</a> </li>
    <li> <a href="#">Women</a> </li>
    <li> <a href="#">Kids</a> </li>
    <li> <a href="#">Customize</a> </li>
    <div class="nav-right-options">
      <div class="search-bar">
        <img src="/assets/img/search.png" alt="">
        <input type="text" placeholder="Search...">
      </div>
    </div>
  </ul>
</div>

<div class = "bottomNav">
  <ul>
    <li>
      <p>free shipping placeholder</p>
    </li>
  </ul>
</div>
