
<div class="navParent">
  <div class="navigateLeft">
    <div class="nikeBox">
      <img src="assets/img/nike.png" alt="">
    </div>
    <div class="jBox">
      <img src="assets/img/jump.png" alt="">
    </div>
    <div class="hurleyBox">
      <img src="assets/img/hurley.png" alt="">
    </div>
    <div class="converseBox">
      <img src="assets/img/converse.png" alt="">
    </div>
  </div>
  <div class="navigateRight">
    <div class="joinBox">
      <a href="#">Join / Log In to NikePlus Account</a>
    </div>
    <div class="helpBox">
      <a href="#">Help</a>
    </div>
    <div class="cartBox">
      <img src="assets/img/cart.png" alt="">
    </div>
    <div class="flagBox">
      <img src="assets/img/flag.jpeg" alt="">
    </div>
  </div>
</div>

<div class="navigate">
  <div class="logo">
    <a href="https://www.nike.com"><img src="assets/img/swoosh.png" alt=""></a>
  </div>
  <div class="navigation-links">
    <a href="https://www.nike.com/us/en_us/c/men"><div>MEN</div></a>
    <a href="https://www.nike.com/us/en_us/c/women"><div>WOMEN</div></a>
    <a href="https://www.nike.com/us/en_us/c/kids"><div>KIDS</div></a>
    <a href="https://www.nike.com/us/en_us/c/nikeid"><div>NIKE BY YOU</div></a>
  </div>
  <div class="nav-right-options">
    <img src="assets/img/search.png" class="mobile-search">
    <div class="search-bar">
      <img src="assets/img/search.png" alt="">
      <form>
        <input #search ng-model="SearchText" type="text" placeholder="Search">
        <ul>
          <li ng-repeat="c in characters | filter : searchText">
            {{ c }}
          </li>
        </ul>
        <button (click)="searchStuff(search.value);search.value=''"></button>
      </form>

    </div>
  </div>
</div>
<div class="banner">
</div>
