<div class = "topNav">
  <ul>
    <img src="/assets/img/nike.png" alt="">
    <img src="/assets/img/jump.png" alt="">
    <img src="/assets/img/hurley.png" alt="">
  <img src="/assets/img/converse.png" alt="">
    <li> <a href="#">Join/Login</a> </li>
    <li> <a href="#">Help</a> </li>
  </ul>
</div>
<div class = "bottomNav">
  <ul>
    <img src="/assets/img/swoosh.png" alt="">
    <li> <a href="#">Men</a> </li>
    <li> <a href="#">Women</a> </li>
    <li> <a href="#">Kids</a> </li>
    <li> <a href="#">Customize</a> </li>
  </ul>
</div>
